%montserrat-regular {
  font-weight: 400;
  font-family: 'Montserrat';
}

%montserrat-bold {
  font-weight: 700;
  font-family: 'Montserrat';
}

%roboto-slab-regular {
  font-weight: 400;
  font-family: 'Roboto Slab';
}

$orange: #c0301c;