.header {
  position: fixed;
  width: 100%;
  padding-top: 40px;

  &.black {
    background-color: rgba(0, 0, 0, 0.856);
    padding: 40px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__nav-item + &__nav-item {
    margin-left: 30px;
  }

  &__nav-link {
    position: relative;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    @extend %montserrat-regular;

    &::before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 1px;
      content: '';
      background-color: rgb(230, 230, 230);
      transition: width ease-in-out 1s;
    }

    &:hover {
      color: #dadada;
    }

    &--active::before,
    &:hover::before {
      width: 100%;
      transition: width ease-in-out 1s;
    }
  }
}
