.home {
  height: 100vh;
  margin: 0 auto;
  padding-top: 150px;
  background-color: #fff;
  background-image: url('./../images/home-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media screen and (max-width: 1024px) {
    padding-top: 100px;
  }

  & .container {
    height: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 48px;
    text-transform: uppercase;
    @extend %montserrat-regular;

    h1 {
      display: inline;
      font-weight: 400;
      font-size: 48px;

      @media screen and (max-width: 1024px) {
        font-size: 36px;
      }
    }

    @media screen and (max-width: 1024px) {
      font-size: 36px;
    }
  }

  &__subtitle {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    @extend %roboto-slab-regular;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }

  &__button {
    padding: 16px 30px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s linear;
    @extend %montserrat-regular;

    &:hover {
      background-color: #fff;
      color: $orange;
    }
  }
}
