.services {
  color: #555555;
  text-align: center;

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 30px;

    @media screen and (max-width: 768px) {
      margin-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
  }

  &__item {
    padding: 0 8px;
    font-size: 14px;
    line-height: 24px;

    @media screen and (max-width: 768px) {
      text-align: justify;
      max-width: 400px;

      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 2px solid #dddddd;
    border-radius: 50%;
    transition: all 0.3s linear;

    &:hover {
      background-color: $orange;

      svg path {
        fill: #fff;
      }
    }

    svg {
      margin-top: -4px;

      path {
        transition: all 0.3s linear;
      }
    }
  }

  &__item-title {
    margin-bottom: 25px;
    @extend %montserrat-regular;
    text-transform: uppercase;

    text-align: center;
  }
}
